@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 242 242 247;
    --foreground: 0 0 0;
    --card: 255 255 255;
    --card-foreground: 8 28 30;
    --popover: 230 230 235;
    --popover-foreground: 0 0 0;
    --primary: 44 176 244;
    --primary-foreground: 255 255 255;
    --secondary: 244 112 44;
    --secondary-foreground: 255 255 255;
    --muted: 193 198 215;
    --muted-foreground: 142 142 147;
    --accent: 255 40 84;
    --accent-foreground: 255 255 255;
    --destructive: 188 47 47;
    --destructive-foreground: 255 255 255;
    --success: 74, 222, 128;
    --success-foreground: 255 255 255;
    --border: 230 230 235;
    --input: 210 210 215;
    --ring: 230 230 235;

    --android-background: 249 249 255;
    --android-foreground: 0 0 0;
    --android-card: 255 255 255;
    --android-card-foreground: 24 28 35;
    --android-popover: 215 217 228;
    --android-popover-foreground: 0 0 0;
    --android-primary: 44 176 244;
    --android-primary-foreground: 255 255 255;
    --android-secondary: 244 112 44;
    --android-secondary-foreground: 20 55 108;
    --android-muted: 193 198 215;
    --android-muted-foreground: 65 71 84;
    --android-accent: 169 73 204;
    --android-accent-foreground: 255 255 255;
    --android-destructive: 188 47 47;
    --android-destructive-foreground: 255 255 255;
    --android-success: 74, 222, 128;
    --android-success-foreground: 255 255 255;
    --android-border: 215 217 228;
    --android-input: 210 210 215;
    --android-ring: 215 217 228;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0 0;
      --foreground: 255 255 255;
      --card: 21 21 24;
      --card-foreground: 255 255 255;
      --popover: 40 40 42;
      --popover-foreground: 255 255 255;
      --primary: 44 176 244;
      --primary-foreground: 255 255 255;
      --secondary: 244 112 44;
      --secondary-foreground: 255 255 255;
      --muted: 193 198 215;
      --muted-foreground: 142 142 147;
      --accent: 255 52 95;
      --accent-foreground: 255 255 255;
      --destructive: 188 47 47;
      --destructive-foreground: 255 255 255;
      --success: 74, 222, 128;
      --success-foreground: 255 255 255;
      --border: 40 40 42;
      --input: 55 55 57;
      --ring: 40 40 42;

      --android-background: 0 0 0;
      --android-foreground: 255 255 255;
      --android-card: 16 19 27;
      --android-card-foreground: 224 226 237;
      --android-popover: 39 42 50;
      --android-popover-foreground: 224 226 237;
      --android-primary: 44 176 244;
      --android-primary-foreground: 255 255 255;
      --android-secondary: 244 112 44;
      --android-secondary-foreground: 189 209 255;
      --android-muted: 193 198 215;
      --android-muted-foreground: 139 144 160;
      --android-accent: 83 0 111;
      --android-accent-foreground: 238 177 255;
      --android-destructive: 188 47 47;
      --android-destructive-foreground: 255 255 255;
      --android-success: 74, 222, 128;
      --android-success-foreground: 255 255 255;
      --android-border: 39 42 50;
      --android-input: 55 55 57;
      --android-ring: 39 42 50;
    }
  }
}
